<div class="container">
  <div class="upper-data">
    <img src="../assets/warm.webp" *ngIf="14 > 15"/>
    <img src="../assets/cold.png" *ngIf="14 <= 15"/>
    <div class="weather-data">
      <div class="location">Grand Rapids</div>
      <div class="temp">{{ 39.9 | number: '1.0-0'}}°</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Info
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-value">
          10°
        </div>
        <div class="info-block-label">
          <span>min:</span>
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-value">
          50°
        </div>
        <div class="info-block-label">
          <span>max:</span>
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-value">
          5%
        </div>
        <div class="info-block-label">
          <span>humidity:</span>
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-value">
          15mph
        </div>
        <div class="info-block-label">
          <span>wind:</span>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
